name: "Build latest images & releases"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 */1 * * *"
permissions:
  contents: write
  packages: write
  actions: write
concurrency:
  group: build-and-release-${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  Check-version:
    runs-on: ubuntu-latest
    name: "Check version"
    outputs:
      latest_now: ${{ steps.get-version.outputs.latest_now }}
      latest_new: ${{ steps.get-version.outputs.latest_new }}
      latest_renew: ${{ steps.get-version.outputs.latest_renew }}
      commit: ${{ steps.get-version.outputs.commit }}
      go_version: ${{ steps.get-version.outputs.go_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Check version
        id: get-version
        run: |
          LATEST_NOW=$(awk '/^latest:/{print $2; exit}' README.md)
          LATEST_NEW=$(curl -s --fail \
            -H "Authorization: Bearer $GITHUB_TOKEN" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/XTLS/Xray-core/releases \
            | jq -r '.[0].tag_name')
          GO_VERSION=$(curl -s https://go.dev/VERSION?m=text | awk 'NR==1' | sed 's/^go//')

          echo "LATEST_NOW: $LATEST_NOW"
          echo "LATEST_NEW: $LATEST_NEW"
          echo "GO_VERSION: $GO_VERSION"

          LATEST_RENEW=0
          if [ "$LATEST_NOW" != "$LATEST_NEW" ]; then
            LATEST_RENEW=1
            DATE=$(date "+%Y/%m/%d")
            COMMIT="Build to $LATEST_NEW by Github Actions, $DATE"
            echo "commit=$COMMIT" >> $GITHUB_OUTPUT
          fi

          {
            echo "latest_now=$LATEST_NOW"
            echo "latest_new=$LATEST_NEW"
            echo "latest_renew=$LATEST_RENEW"
            echo "go_version=$GO_VERSION"
          } >> $GITHUB_OUTPUT

  Build-and-release:
    needs: Check-version
    if: ${{ needs.Check-version.outputs.latest_renew == '1' }}
    runs-on: ubuntu-latest
    name: "Build and release"
    env:
      LATEST_NOW: ${{ needs.Check-version.outputs.latest_now }}
      LATEST_NEW: ${{ needs.Check-version.outputs.latest_new }}
      GO_VERSION: ${{ needs.Check-version.outputs.go_version }}
      COMMIT: ${{ needs.Check-version.outputs.commit }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      DOCKERHUB_REPOSITORY: ${{ secrets.DOCKER_USERNAME }}/${{ secrets.DOCKER_REPO }}
      BINARY: xray
      CGO_ENABLED: 0
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.0.0
        with:
          buildkitd-flags: --debug

      - name: Login to DockerHub
        uses: docker/login-action@v3.0.0
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}

      - name: Push full image to Docker hub
        uses: docker/build-push-action@v5.1.0
        with:
          push: true
          file: Dockerfile
          platforms: linux/386,linux/amd64,linux/arm/v7,linux/arm64,linux/riscv64
          build-args: BRANCH=${{ env.LATEST_NEW }}
          tags: |
            ${{ env.DOCKERHUB_REPOSITORY }}:latest
            ${{ env.DOCKERHUB_REPOSITORY }}:${{ env.LATEST_NEW }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Push mini image to Docker hub
        uses: docker/build-push-action@v5.1.0
        with:
          push: true
          file: Dockerfile.mini
          platforms: linux/386,linux/amd64,linux/arm/v7,linux/arm64,linux/riscv64
          build-args: BRANCH=${{ env.LATEST_NEW }}
          tags: |
            ${{ env.DOCKERHUB_REPOSITORY }}:latest-mini
            ${{ env.DOCKERHUB_REPOSITORY }}:${{ env.LATEST_NEW }}-mini
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Update README and commit
        run: |
          sed -i "s/^latest:.*/latest: ${{ env.LATEST_NEW }}/" README.md
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add README.md
          git commit -m "${{ env.COMMIT }}"
          git push origin HEAD:main

      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 3
          keep_minimum_runs: 3
          delete_run_by_conclusion_pattern: "cancelled,skipped,success"
